body {
	background: #DADBD3;
	margin: 0;
	font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.870588);
  line-height: 16px;
}
::-webkit-input-placeholder {
	color: #999;
}
.action_img {
  width: 35px;
}

.commentActions {
  display: flex;
  padding: 0 !important;
  justify-content: flex-end;
}
.commentAuthorName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.commentsSection {
  height: 285px;
}
.creatorInfo {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 9px;
}
.smokeSignalFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.welcome-text {
  font-size: 26px;
  font-weight: 400;
}
.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 580px;
}
.smokeSignalContainer {
  width: 100%;
}
.headline {
  font-size: 24px;
  padding-top: 16px;
  margin-bottom: 12px;
  font-weight: 400;
}
.backgroundCon {
  height: 120px;
  background: #009688;
}

.appCont {
	background: white;
  display: flex;
  position: absolute;
  max-height: 580px;
  left: 5em;
  right: 5em;
  top: 50px;
}
.tabContainer {
  height: 533px;
  overflow: auto;
}
/*
.smokeSignalsCont {
	display: flex;
  width: 100%;
  height: 100%;
}
*/
.smokeSignals {
  box-sizing: border-box;
  border-right: 1px solid rgba(0,0,0,.08);
}
.smokeSignal {
	background-color: #F7F9FA;
	width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smokeSignalHeader {
  height: 3em;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #DCDBD2;
  background-color: #D4DBDA;
}
/*
.listItem {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background-color: none;
}
.listItem:hover {
 	background-color: rgba(0, 0, 0, 0.0980392);
}
.listItemDescription {
	font-size: 14px;
  line-height: 18px;
  height: 36px;
  margin: 4px 0px 0px;
  color: rgba(0, 0, 0, 0.541176);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.listItemTitle {
	border: 10px;
  box-sizing: border-box;
  display: block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  font-weight: inherit;
  transform: translate3d(0px, 0px, 0px);
  color: rgba(0, 0, 0, 0.870588);
  line-height: 16px;
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: none;
}
.itemDescription {
	font-size: 14px;
  line-height: 18px;
  height: 65px;
  margin: 4px 0px 0px;
  color: rgba(0, 0, 0, 0.541176);
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} 
.createSmokeSignal {
	position: absolute;
	bottom: 55px;
  left: 496px;
}
.commentBox {
  width: 49%;
  position: absolute;
  bottom: -20px;
}
.smokeSignalHeader {
  height: 3em;
  width: 100%;
  border-bottom: 1px solid #DCDBD2;
  background-color: #D4DBDA;
}
.list {
	border-right: 1px solid #F4F4F4;
	border-left: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;
}
.smokeSignalContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 
.center-content {
	display: flex;
	align-items: center;	
}
.usernameCont {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;	 
  cursor: pointer;
}
.usernameCont:hover {
	background-color: #F7F9FA;
}
.smokeType {
	display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}
.smokeCreateContent {
	display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}
.smokeType:hover {
	opacity: 0.9 !important;
}
#createSmokeScreen1 {
	transform: translateX(-0px);
	transition: all 0.5s ease;
}
#createSmokeScreen2, #createSmokeScreen3 {
	display: none;
	transform: translateX(1000px);
	transition: all 0.5s ease;
}
.hideSmokeScreen {
	display: none;
	transform: translateX(-1000px);
	transition: all 0.5s ease;
}
.showSmokeScreen {
	display: block !important;
	transform: translateX(0px) !important;
	transition: all 0.5s ease;
}*/
